@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --main: #f7e3e3;
  --background: #f5d0d0;
  /* --dark: #D19FA0; */
  --dark: rgb(87, 65, 66);
  --grey: rgba(87, 65, 66, 0.5);
  ;
  
}



body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

h1 {
  color: var(--dark);
  font-weight: 800;
}